html {
  font-size: 62.5%;
}
@font-face {
  font-family: 'Myriad pro';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad pro'), url('fonts/MYRIADPRO-REGULAR.OTF') format('truetype');
}
@font-face {
  font-family: 'Myriad pro';
  font-style: normal;
  font-weight: bold;
  src: local('Myriad pro'), url('fonts/MYRIADPRO-BOLD.OTF') format('truetype');
}
@font-face {
  font-family: 'Myriad pro';
  font-style: normal;
  font-weight: bold;
  src: local('Myriad pro'), url('fonts/MYRIADPRO-BOLDCOND.OTF') format('truetype');
}
@font-face {
  font-family: 'Myriad pro';
  font-style: normal;
  font-weight: light;
  src: local('Myriad pro'), url('fonts/MyriadPro-Light.otf') format('truetype');
}
@font-face {
  font-family: 'Myriad pro';
  font-style: normal;
  font-weight: 800;
  src: local('Myriad pro'), url('fonts/MYRIADPRO-SEMIBOLD.OTF') format('truetype');
}
body {
  font-family: 'Myriad pro', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

div.container {
  background-image: url('images/one.png');
  width: 100vw;
  height: 82.5rem;
  background-position: top;
  background-size: cover;
}
div.header {
  display: flex;
  align-items: center;
}
img.icon {
  /*display: inline;*/
  margin-left: 30rem;
  margin-top: 0.8rem;
  z-index: 2;
}
ul.menu1, li.menu1 {
  display: inline;
  align-items: center;
  color: #fefeff;
  cursor: pointer;
  z-index: 2;
}

ul.menu1 {
  margin-left: 60rem;
}
li.menu1  {
  padding-right: 4rem;
  font-size: 10pt;
  letter-spacing: 0.2rem;
  text-decoration: underline;
  font-weight: 800;
}
h1.top {
  margin-top: 10rem;
  margin-left: 38rem;
  font-size: 90pt;
  font-weight: bold;
  color: #404e6c;
  margin-bottom: 0;
  padding-bottom: 0;
  display: inline-block;
  line-height: 0.8;
  letter-spacing: 0;
  z-index: 5;

}

h1.top::first-line {
  font-size: 94pt;
  font-weight: bold;
  color: #4d4d4d;
  margin-left: 34rem;
  display: inline;
  z-index: 5;
}

div.line-one {
  background-color: #fefeff;
  display: flex;
  align-items: center;
  width: 100vw;
  z-index: 2;
  position: relative;
}
.icon3 {
  margin-left: 30rem;
}
p.top-one {
  display: block;
  margin-top: 2.4rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #414f6b;
  margin-left: 1rem;
  z-index: 2;
}
p.top-one::first-line {
  color: #4d4d4d;
  z-index: 2;
}

ol.menu2, li.menu2 {
  display: inline;
  color: #414f6b;
  font-size: 1.5rem;
  font-weight: 600;
}

ol.menu2 {
  margin-left: 50rem;
  margin-right: 0;
}

li.menu2 {
  margin-right: 4.8rem;
  letter-spacing: 0.1rem;

}

div.second-container {
  background-image: url('images/peak.png');
  height: 91rem;
  width: 100vw;
  z-index: 1;
  position: relative;
}

h1.number {
  color: #6d7d98;
  font-size: 13.5rem;
  font-weight: bold;
  margin-left: 33rem;
  margin-top: 6rem;
  display: inline;
  position: absolute;
}

h2.number {
 color: #414f6b;
 font-size: 3.2rem;
 display: inline;
 position: absolute;
 margin: 12rem 0 0 47rem;
 font-weight: bold;
}

p.info {
  font-size: 1.6rem;
  color: black;
  font-family: 'Myriad pro', Arial, Helvetica, sans-serif;
  margin: 21rem 0 0 40rem;
  display: inline-block;
  line-height: 3.5rem;
}

div.third-container {
  margin: 41rem 0 0 0;
  background-color: #414f6be0;
  padding: 2.5rem 0 2.5rem 20rem;
  align-items: center;
  display: flex;
  
}

img.crosel {
  margin-right: 1rem;
}

div.fourth-container {
  width: 100vw;
  height: 18rem;
}
p.info2 {
  font-size: 1.6rem;
  color: black;
  font-family: 'Myriad pro', Arial, Helvetica, sans-serif;
  margin: 6rem 0 0 10rem;
  display: inline-flex;
  line-height: 3.5rem;
  position: absolute;
}
h1.number2{
  color: #6d7d98;
  font-size: 13.5rem;
  font-weight: bold;
  margin-left: 33rem;
  display: inline;
}
h2.number2{
  color: #414f6b;
  font-size: 3.2rem;
  display: inline-block;
  position: absolute;
  margin-top: 6rem;
  margin-left: 0;
  font-weight: bold;
}
div.list {
  background-color: #414f6b;
  display: flex;
  height: 4rem;
  align-items: center;
}

ul.third, li.third {
  color: #b0b4be;
  display: inline;
  font-size: 1.8rem;
  font-weight: 700;

}
li.third {
  padding: 0.9rem 2.1rem;
}

li.third:hover {
  background-color: #b0b4be;
  color: #404e6c;
  cursor: pointer;
  text-decoration: underline;
}
ul.third {
  margin: 0;
}

div.fifth {
  background-image: url('images/fifth.png');
  height: 55rem;
  width: 100vw;
  margin: 0;
  background-position: bottom;
}
div.table {
  background-color: #fefeffbe;
  display: inline-block;
  margin: 11rem 0 0 36rem;
  width: 43rem;

}
h2.plan {
  margin-top: 0;
  color: #404e6c;
  font-size: 3.2rem;
  font-weight: bolder;
  margin: 2.2rem 0 1rem 4.5rem;
}

table, tr, td {
  font-size: 1.6rem;
  color: black;

}

td {
  width: 20rem;
  height: 2rem;
}
table {
  padding: 0 0 2rem 4rem;
}

div.footer {
  display: flex;
  align-items: center;
  height: 7rem;
  background-color: #414f6b;
}

img.icon2 {
  opacity: 10%;
  margin: 0 0 0 30rem;
}

p.footer {
  color: #63769d;
  margin-top: 2.4rem;
  font-size: 1.8rem;
  font-weight: bold;
  opacity: 50%;
  margin-left: 1rem;
}

p.copyright {
  opacity: 50%;
  color: #63769d;
  font-size: 1.4rem;
  margin-left: 49rem;

}

img.cover {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 20%;
  z-index: 0;
  width: 100vw;
  height: 98rem;
}

img.cover2 {
  margin-top: 20rem;
  position: absolute;
  z-index: 0;
  width: 100vw;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  body {
      font-family: 'Myriad pro', Arial, Helvetica, sans-serif;
      overflow-x: hidden;
      margin: 0;
      padding: 0;
  }
  div.container {
    overflow-x: hidden;
    background-image: url('images/one.png');
    width: 100vw;
    height: 30rem;
    background-position: top;
    background-size: cover;
  }
  div.header {
    display: flex;
    align-items: center;
  }
  img.icon {
    width: 2.5rem;
    display: inline-block;
    margin-left: 10rem;
    margin-top: 0.8rem;
    z-index: 2;
  }
  ul.menu1, li.menu1 {
    display: inline;
    align-items: center;
    color: #fefeff;
    cursor: pointer;
    z-index: 2;
  }
  
  ul.menu1 {
    margin-left: 12rem;
  }
  li.menu1  {
    padding-right: 2rem;
    font-size: 6pt;
    letter-spacing: 0.1rem;
    text-decoration: underline;
    font-weight: 800;
  }
  h1.top {
    display: inline-block;
    font-size: 32pt;
    font-weight: bold;
    color: #404e6c;
    margin-top: 3.5rem;
    margin-left: 15rem;
    z-index: 5;
    line-height: 3.3rem;
  }
  
  h1.top::first-line {
    margin-top: 6rem;
    margin-left: 14rem;
    font-size: 30pt;
    font-weight: bold;
    color: #4d4d4d;
    display: inline-block;
    line-height: 3.3rem;
    letter-spacing: 0;
    z-index: 5;
  }
  
  div.line-one {
    background-color: #fefeff;
    display: flex;
    align-items: center;
    width: 100vw;
    z-index: 2;
    position: relative;
  }
  
  p.top-one {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #414f6b;
    margin-left: 1rem;
    z-index: 2;
  }
  p.top-one::first-line {
    color: #4d4d4d;
    z-index: 2;
  }
  .icon3 {
    width: 2.5rem;
    margin-top: 0;
    margin-left: 8rem;
  }
  ol.menu2, li.menu2 {
    display: inline;
    color: #414f6b;
    font-size: 1rem;
    font-weight: 600;
  }
  
  ol.menu2 {
    margin-left: 10rem;
    margin-right: 0;
  }
  
  li.menu2 {
    margin-right: 2rem;
    letter-spacing: 0.1rem;
  }
  
  div.second-container {
    background-image: url('images/peak.png');
    height: 35rem;
    width: 100vw;
    z-index: 5;
    position: relative;
    background-size: cover;
  }
  
  h1.number {
    color: #6d7d98;
    font-size: 6.5rem;
    font-weight: bold;
    margin-left: 2.5rem;
    margin-top: 2rem;
    display: inline;
    position: absolute;
  }
  
  h2.number {
   color: #414f6b;
   font-size: 2rem;
   display: inline;
   position: absolute;
   margin: 4.5rem 0 0 8rem;
   font-weight: bold;
  }
  
  p.info {
    font-size: 0.8rem;
    color: black;
    font-family: 'Myriad pro', Arial, Helvetica, sans-serif;
    margin: 9rem 0 0 7rem;
    display: inline-block;
    line-height: 1.5rem;
  }
  
  div.third-container {
    margin: 12.3rem 0 0 0;
    background-color: #414f6be0;
    padding: 1.5rem 0 1.5rem 4.3rem;
    align-items: center;
    display: flex;
    z-index: 5;
  }
  
  img.crosel {
    margin-right: 1rem;
    width: 9rem;
  }
  
  div.fourth-container {
    width: 100vw;
    height: 10rem;
    background-color: white;
    z-index: 10;
    position: relative;
  }
  p.info2 {
    font-size: 0.8rem;
    color: black;
    font-family: 'Myriad pro', Arial, Helvetica, sans-serif;
    margin: 3rem 0 0 6.5rem;
    display: inline-flex;
    line-height: 1.5rem;
    position: absolute;
  }
  h1.number2{
    color: #6d7d98;
    font-size: 6rem;
    font-weight: bold;
    margin-left: 2rem;
    display: inline;
  }
  h2.number2{
    color: #414f6b;
    font-size: 3.2rem;
    display: inline-block;
    position: absolute;
    margin-top: 1rem;
    margin-left: -1rem;
    font-weight: bold;
  }
  div.list {
    background-color: #414f6b;
    display: flex;
    height: 3rem;
    align-items: center;
    z-index: 10;
    position: relative;
  }
  
  ul.third, li.third {
    color: #b0b4be;
    display: inline;
    font-size: 1.3rem;
    font-weight: 700;
  
  }
  li.third {
    padding: 0.7rem 1.6rem;
  }
  
  li.third:hover {
    background-color: #b0b4be;
    color: #404e6c;
    cursor: pointer;
    text-decoration: underline;
  }
  ul.third {
    margin: 0;
  }
  
  div.fifth {
    background-image: url('images/fifth.png');
    height: 35rem;
    width: 100vw;
    margin: 0;
    background-position: bottom;
    z-index: 10;
    position: relative;
    background-size: cover;
  }
  div.table {
    background-color: #fefeffbe;
    display: inline-block;
    margin: 5rem 0 0 11rem;
    width: 28rem;
  
  }
  h2.plan {
    color: #404e6c;
    font-size: 1.8rem;
    font-weight: bolder;
    margin: 2.2rem 0 1rem 2.5rem;
  }
  
  table, tr, td {
    font-size: 1rem;
    color: black;
  
  }
  
  td {
    width: 10rem;
    height: 1rem;
  }
  table {
    padding: 0 0 2rem 2rem;
  }
  
  div.footer {
    display: flex;
    align-items: center;
    height: 3rem;
    background-color: #414f6b;
  }
  
  img.icon2 {
    opacity: 10%;
    margin: 0 0 0 6rem;
    width: 2rem;
  }
  
  p.footer {
    color: #63769d;
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 50%;
    margin-left: 0.5rem;
  }
  
  p.copyright {
    opacity: 50%;
    color: #63769d;
    font-size: 1rem;
    margin-left: 15rem;
  
  }
  
  img.cover {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 20%;
    z-index: 0;
    width: 100vw;
    height: 100vh;
  }
  
  img.cover2 {
    margin-top: 7rem;
    position: absolute;
    z-index: 0;
    width: 100vw;
  }
}